<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Vídeos" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-xxl-12 col-sm-12">
                        <div>
                            <input type="search" class="form-control" placeholder="Buscar vídeo pelo nome">
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <div class="flex-grow-1">
                    <h5 class="card-title mb-0">Vídeos 
                        <span *ngIf="videos.length > 0" class="badge bg-dark-subtle text-dark ms-1">{{videos.length}}</span>
                        <span *ngIf="videos.length <= 0" class="badge bg-dark-subtle text-dark ms-1">0</span>
                    </h5>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive"  *ngIf="videos.length > 0">
                    <table class="table table-centered align-middle table-nowrap mb-0">
                        <thead class="table-active">
                            <tr>
                                <th class="sort cursor-pointer">Nome</th>
                                <th class="sort cursor-pointer">Data Inicio</th>
                                <th class="sort cursor-pointer">Data Fim</th>
                                <th class="sort cursor-pointer">Tamanho</th>
                                <th class="sort cursor-pointer">Câmara</th>
                            </tr>
                        </thead>
                        <tbody class="list form-check-all">
                            <tr *ngFor="let video of videos">
                                <td class="products" style="cursor: pointer;" (click)="showModal.show()" (click)="onSelectedVideo(video.name)">{{video.name}}</td>
                                <td class="products">{{video.startTime | date}}</td>
                                <td class="products">{{video.endTime | date}}</td>
                                <td class="products">{{ formatSize(video.size) }}</td>
                                <td class="products">{{video.channel}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--end table-responsive-->

                <div class="noresult" *ngIf="videos.length <= 0">
                    <div class="text-center py-4">
                        <div class="avatar-md mx-auto mb-4">
                            <div class="avatar-title bg-light text-primary rounded-circle fs-4xl">
                                <i class="bi bi-search"></i>
                            </div>
                        </div>
                        <h5 class="mt-2">Nenhum vídeo gravado!</h5>
                        <p class="text-muted mb-0">Todos vídeos gravados serão listados aqui.</p>
                    </div>
                </div>
                <!-- end noresult -->

                <div class="row mt-3 align-items-center" *ngIf="videos.length > 0">
                    <div class="col-sm">
                        <div class="text-muted text-center text-sm-start">
                            Mostrando <span class="fw-semibold">10</span> de <span class="fw-semibold">20</span> Resulstados
                        </div>
                    </div>
                </div>
                <!-- end pagination-element -->
            </div>
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->

<div class="modal fade" bsModal #showModal="bs-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header px-4 pt-4">
                <h5 class="modal-title" id="exampleModalLabel">{{this.onlyFileName}}</h5>
                <button type="button" class="btn-close" (click)="showModal.hide()"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <vg-player (onPlayerReady)="onPlayerReady($event)" class="roudend-2">
                            <vg-overlay-play></vg-overlay-play>
                            <vg-buffering vgFor="singleVideo"></vg-buffering>
                            <vg-scrub-bar>
                                <vg-scrub-bar-current-time vgFor="singleVideo" [vgSlider]="true"></vg-scrub-bar-current-time>
                                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                            </vg-scrub-bar>
                            <vg-controls>
                                <vg-play-pause></vg-play-pause>
                                <vg-playback-button></vg-playback-button>
                                <vg-time-display [vgProperty]="'current'" [vgFormat]="'mm:ss'"></vg-time-display>
                                <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
                                <vg-time-display [vgProperty]="'left'" [vgFormat]="'mm:ss'"></vg-time-display>
                                <vg-time-display [vgProperty]="'total'" [vgFormat]="'mm:ss'"></vg-time-display>
                                <vg-track-selector></vg-track-selector>
                                <vg-mute></vg-mute>
                                <vg-volume></vg-volume>
                                <vg-fullscreen></vg-fullscreen>
                                <button (click)="rewindVideo(2)">⏪ Recuar 10s</button>
                            </vg-controls>
                            <video [vgMedia]="$any(media)"
                                   #media id="singleVideo"
                                   preload="auto"
                                   src="{{fileName}}"
                                   type="video/mp4"
                                   crossorigin>
                            </video>
                        </vg-player>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-ghost-danger" (click)="closeVideo()" (click)="showModal.hide()"><i class="bi bi-x-lg align-baseline me-1"></i> Fechar</button>
                    <button type="button" class="btn btn-primary" (click)="extractTheLast30Seconds(this.onlyFileName)"><i class="bi bi-download me-1"></i> Baixar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal -->

