<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Câmaras" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-xxl-12 col-sm-12">
                        <div>
                            <input type="search" class="form-control" placeholder="Buscar câmara pelo ID">
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <div class="flex-grow-1">
                    <h5 class="card-title mb-0">Câmaras 
                        <span *ngIf="cameras.length > 0" class="badge bg-dark-subtle text-dark ms-1">{{cameras.length}}</span>
                        <span *ngIf="cameras.length <= 0" class="badge bg-dark-subtle text-dark ms-1">0</span>
                    </h5>
                </div>
                <div class="flex-shrink-0">
                    <div class="d-flex flex-wrap align-items-start gap-2">
                        <button class="btn btn-subtle-danger d-none" id="remove-actions" (click)="deleteRecordModal.show()"><i class="ri-delete-bin-2-line"></i></button>
                        <button type="button" class="btn btn-primary add-btn" (click)="showModal.show()"><i class="bi bi-plus-circle align-baseline me-1"></i> Adicionar
                            Câmara</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive" *ngIf="cameras.length > 0">
                    <table class="table table-centered align-middle table-nowrap mb-0">
                        <thead class="table-active">
                            <tr>
                                <th class="cursor-pointer">Canal</th>
                                <th class="cursor-pointer">Status</th>
                                <th class="cursor-pointer">Campo</th>
                                <th>Acções</th>
                            </tr>
                        </thead>
                        <tbody class="list form-check-all">
                            <tr *ngFor="let camera of cameras">
                                <td class="products">{{camera.channel}}</td>
                                <td class="products" *ngIf="!camera.isRecording">Parada</td>
                                <td class="products" *ngIf="camera.isRecording">
                                    Gravando
                                    <span class="spinner-grow flex-shrink-0 text-danger" role="status" style="width: 20px; height: 20px;">
                                        <span class="visually-hidden">Loading...</span>
                                    </span>
                                </td>
                                <td>{{camera.courtDescription}}</td>
                                <td>
                                    <div class="hstack gap-3 flex-wrap">
                                        <a href="javascript:void(0);" class="link-danger fs-base" (click)="markCameraToRemove(camera.id)"
                                         (click)="deleteRecordModal.show()">
                                            <i class="ri-delete-bin-line"></i>
                                        </a>
                                        <a href="javascript:void(0);" class="link-success fs-base"
                                         (click)="fillForm(camera)"
                                         (click)="editModal.show()">
                                            <i class=" ri-edit-line"></i>
                                        </a>
                                        <a href="javascript:void(0);" class="bg-primary-subtle text-primary p-1" 
                                         style="border-radius: 50%; width: 20px; height: 20px; display: flex; align-items: center; align-items: center;"
                                         (click)="startRecording(camera.channel)" *ngIf="!camera.isRecording">
                                            <i class="ri-play-line"></i>
                                        </a>
                                        <a href="javascript:void(0);" class="bg-danger-subtle text-danger p-1" 
                                         style="border-radius: 50%; width: 20px; height: 20px; display: flex; align-items: center; align-items: center;"
                                         (click)="stopRecording(camera.channel)" *ngIf="camera.isRecording">
                                            <i class=" ri-stop-circle-line"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--end table-responsive-->

                <div class="noresult" *ngIf="cameras.length <= 0">
                    <div class="text-center py-4">
                        <div class="avatar-md mx-auto mb-4">
                            <div class="avatar-title bg-light text-primary rounded-circle fs-4xl">
                                <i class="bi bi-search"></i>
                            </div>
                        </div>
                        <h5 class="mt-2">Nenhuma câmara cadastrada</h5>
                        <p class="text-muted mb-0">Cadastre as câmaras para serem listadas</p>
                    </div>
                </div>
                <!-- end noresult -->

                <div class="row mt-3 align-items-center" *ngIf="cameras.length > 0">
                    <div class="col-sm">
                        <div class="text-muted text-center text-sm-start">
                            Mostrando <span class="fw-semibold">10</span> de <span class="fw-semibold">20</span> Resulstados
                        </div>
                    </div>
                </div>
                <!-- end pagination-element -->
            </div>
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->

<!-- AddCameraModal -->
<div class="modal fade" bsModal #showModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header px-4 pt-4">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar Câmara</h5>
                <button type="button" class="btn-close" (click)="showModal.hide()"></button>
            </div>

            <form class="tablelist-form" [formGroup]="addForm" (ngSubmit)="add()" novalidate autocomplete="off">
                <div class="modal-body p-4">
                    <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>

                    <div class="mb-3">
                        <label for="product-title-input" class="form-label">Canal</label>
                        <input 
                        type="number" 
                        formControlName="channel" 
                        class="form-control" 
                        placeholder="Digite o número do canal"
                        [ngClass]="{ 'is-invalid': f['channel'].errors && f['channel'].touched }"
                        required>
                        <div *ngIf="f['channel'].errors && f['channel'].touched" class="text-danger">
                            <div *ngIf="f['channel'].errors['required']">Por favor, informe o número do canal</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="product-title-input" class="form-label">Seleccione o campo</label>
                        <ng-select [items]="courts" bindValue="id" bindLabel="description"
                         formControlName="courtId" [ngClass]="{ 'is-invalid': f['courtId'].errors && f['courtId'].touched }">
                            
                        </ng-select>
                        <div *ngIf="f['courtId'].errors && f['courtId'].touched" class="text-danger">
                            <div *ngIf="f['courtId'].errors['required']">Por favor, seleccione o campo</div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-ghost-danger" (click)="showModal.hide()"><i class="bi bi-x-lg align-baseline me-1"></i> Fechar</button>
                        <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- modal -->

<!-- AddCameraModal -->
<div class="modal fade" bsModal #editModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header px-4 pt-4">
                <h5 class="modal-title" id="exampleModalLabel">Editar Câmara</h5>
                <button type="button" class="btn-close" (click)="editModal.hide()"></button>
            </div>

            <form class="tablelist-form" [formGroup]="editForm" (ngSubmit)="edit()" novalidate autocomplete="off">
                <div class="modal-body p-4">
                    <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>

                    <input type="hidden" formControlName="id">

                    <div class="mb-3">
                        <label for="product-title-input" class="form-label">Canal</label>
                        <input 
                        type="number" 
                        formControlName="channel" 
                        class="form-control" 
                        placeholder="Digite o número do canal"
                        [ngClass]="{ 'is-invalid': e['channel'].errors && f['channel'].touched }"
                        required>
                        <div *ngIf="e['channel'].errors && e['channel'].touched" class="text-danger">
                            <div *ngIf="e['channel'].errors['required']">Por favor, informe o número do canal</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="product-title-input" class="form-label">Seleccione o campo</label>
                        <ng-select [items]="courts" bindValue="id" bindLabel="description"
                         formControlName="courtId" [ngClass]="{ 'is-invalid': e['courtId'].errors && e['courtId'].touched }">
                            
                        </ng-select>
                        <div *ngIf="e['courtId'].errors && e['courtId'].touched" class="text-danger">
                            <div *ngIf="e['courtId'].errors['required']">Por favor, seleccione o campo</div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-ghost-danger" (click)="editModal.hide()"><i class="bi bi-x-lg align-baseline me-1"></i> Fechar</button>
                        <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- modal -->

<!-- deleteRecordModal -->
<div id="deleteRecordModal" class="modal fade zoomIn" bsModal #deleteRecordModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" id="deleteRecord-close" (click)="deleteRecordModal.hide()"></button>
            </div>
            <div class="modal-body p-md-5">
                <div class="text-center">
                    <div class="text-danger">
                        <i class="bi bi-trash display-4"></i>
                    </div>
                    <div class="mt-4">
                        <h3 class="mb-2">Você tem certeza ?</h3>
                        <p class="text-muted fs-lg mx-3 mb-0">Deseja realmente remover este registo ?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-light btn-hover" (click)="deleteRecordModal.hide()">Cancelar</button>
                    <button type="button" class="btn w-sm btn-danger btn-hover" (click)="remove()" (click)="deleteRecordModal.hide()">Sim, Remover!</button>
                </div>
            </div>
        </div>
    </div>
</div>